@page "/"

<h1>Welcome to Rihal </h1> <h5 style="color:rebeccapurple">Net Blazor Challeng</h5>
<b><p> Muhammad Nouman Khan </p></b>
<p>Sr Software Engineer </p>
<p>WhatsApp No:- +923043487853 </p>
<p>Current Company :- Payactiv </p>

<a href="https://www.linkedin.com/company/payactiv-inc-" target="_blank"> Company profile </a>
 
